MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
PORT=5001
DASHBOARD_PASSKEY=maghrebia2024
# Set to your frontend Render URL to allow CORS (e.g. https://hamma-survey.onrender.com)
CLIENT_URL=
